.Statistics__text{
    text-shadow: 4px 4px 7px #336DCE;
    font-family: "Arial Black", Gadget, sans-serif;
}
.Value {
    text-shadow: 4px 4px 7px #ce3333;
    font-family: "Arial Black", Gadget, sans-serif;
}